* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.flex {
	display: flex;
}

button {
	min-width: 200px;
	min-height: 50px;
	margin: 50px auto;
	border: none;
	border-radius: 5px;
	background-color: rgb(237, 237, 153);
}

.wrapper {
	background-color: gray;
	min-width: 600px;
	min-height: 300px;
	text-align: center;
	padding: 10px 20px;
	border-radius: 20px;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.h1__text {
	font-size: 40px;
	display: none;
}

.btns {
	opacity: 1;
	transition: all 0.3s ease;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.btns:hover {
	transform: scale(1.05);
	cursor: pointer;
	opacity: 0.8;
}

.btns:active {
	transform: scale(0.97);
}

#score,
#status,
#scorel,
#potions,
#potionsMount,
#restartGame {
	display: none;
}

.main__text {
	font-size: 20px;
}